<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <footer class="footer">
      <div class="footer__main">
        <a href="index.html" class="footer__logo nav__logo"><p>FASCO</p></a>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item">Support Center</li>
            <li class="footer__item">Invoicing</li>
            <li class="footer__item">Contract</li>
            <li class="footer__item">Careers</li>
            <li class="footer__item">Blog</li>
            <li class="footer__item">FAQ,s</li>
          </ul>
        </nav>
      </div>
      <p class="footer__copyright">
        Copyright © 2022 Sia . All Rights Reseved.
      </p>
    </footer>
  </body>
</html>
