<header class="main-header container">
  <nav class="nav">
    <div class="nav__start">
      <div class="nav__brand">
        <div class="nav__toggler">
          <div class="bar bar-one"></div>
          <div class="bar bar-tow"></div>
          <div class="bar bar-three"></div>
        </div>
        <a href="index.html" class="nav__logo"><p>FASCO</p></a>
      </div>
      <div class="nav__icons2">
        <span>
          <svg class="icon">
            <use href="assets/icon/sprite.svg#Search"></use>
          </svg>
        </span>
        <div class="cart-btn">
          <span class="nav-icon">
            <span>
              <svg class="icon">
                <use href="assets/icon/sprite.svg#Bag 2"></use>
              </svg>
            </span>
          </span>
          <div class="cart-items">0</div>
        </div>
        <span>
          <svg class="icon">
            <use href="assets/icon/sprite.svg#Profile"></use>
          </svg>
        </span>
      </div>
    </div>
    <ul class="list nav__list">
      <li class="nav__item"><a href="Shop.html">Shop</a></li>
      <li class="nav__item"><a href="">On Sale</a></li>
      <li class="nav__item"><a href="">New Arrivals</a></li>
      <li class="nav__item"><a href="">Brands</a></li>
    </ul>
    <div class="input-wrapper">
      <input type="search" id="search" placeholder=" " />
      <label for="search">
        <span>
          <svg class="icon">
            <use href="assets/icon/sprite.svg#Search"></use>
          </svg>
        </span>
        Search for products...
      </label>
    </div>
    <div class="nav__icons">
      <div class="cart-btn">
        <span class="nav-icon">
          <span>
            <svg class="icon">
              <use href="/assets/icon/sprite.svg#Bag 2"></use>
            </svg>
          </span>
        </span>
        <div class="cart-items">0</div>
      </div>
      <span>
        <svg class="icon">
          <use href="assets/icon/sprite.svg#Profile"></use>
        </svg>
      </span>
    </div>
  </nav>
  <div class="cart-center">
    <div class="backdrop"></div>
    <div class="cart">
      <h3 class="cart-title">Your Cart</h3>
      <div class="cart-content"></div>
      <div class="cart-footer">
        <span class="cart-total">total price : 90 $</span>
        <button class="btn clear-cart">clear cart</button>
        <button class="btn cart-item-confirm">confirm</button>
      </div>
    </div>
  </div>
</header>

<div class="input-wrapper">
  <input type="search" id="search" placeholder=" " />
  <label for="search">
    <span>
      <svg class="icon">
        <use href="assets/icon/sprite.svg#Search"></use>
      </svg>
    </span>
    Search for products...
  </label>
  <div class="search-result">
    <a class="search-result__product">
      <img src="/assets/images/products/Denim-Jacket.jpg" alt="" />
      <h3>Denim Jacket</h3>
    </a>
    <a class="search-result__product">
      <img src="/assets/images/products/Denim-Jacket.jpg" alt="" />
      <h3>Denim Jacket</h3>
    </a>
    <a class="search-result__product">
      <img src="/assets/images/products/Denim-Jacket.jpg" alt="" />
      <h3>Denim Jacket</h3>
    </a>
    <a class="search-result__product">
      <img src="/assets/images/products/Denim-Jacket.jpg" alt="" />
      <h3>Denim Jacket</h3>
    </a>

  </div>
</div>
